body {
    overflow-x: hidden !important;
    /* Hide horizontal scrollbar */
}

h1,
h4 {
    color: black;
}

/* navbar */

.navbar-brand {
    padding-left: 10%;
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-item {
    padding: 0 45px 0 0;
}

.nav-right {
    padding-right: 9%;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white !important;
    font-weight: 400;
}

/* adds a margin around the divs used! */
.boxed {
    border: 2px solid black;
    margin: 1%;
    padding: 0;
}


.container-body {
    margin-top: 4%;
    max-height: 550px;
    max-width: 1000px;
    overflow-x: scroll;
    overflow-y: hidden;
}



.imgcontainer {
    margin-top: 8%;
}

.mid1, .mid2, .mid3 {
    padding: 2%;
}

.mid1, .mid2 p {
    line-height: 1.5;
    font-size: x-large;
}

.mid2 p {
    margin: 0;
}

.mid3 button {
    margin-top: 5%;
    margin-right: 8%;
}

#canvas {
    background-color: black;
}

#bar {
    height: 40%;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #000000;
    border-radius: 2px;
}

